@import "./base.less";
@import "./_mixi.less";

.digitial {
  margin-top: 60px;
  .container {
    width: 100%;
    padding-bottom: 60px;
  }

  .digitial-list {
    .title-list();
  }

  .digitial-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .digitial-banner {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .digitial_banner-content {
      width: 100%;
      position: relative;
      .digitial_banner-img {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .digitial_banner-title {
        .banner-title();
        transform: translateY(-52%);
        h3 {
          line-height: 30px;
          letter-spacing: -1px;
        }
      }
    }

    .digitial_banner-list {
      padding: 30px 20px;
      background-color: @white;

      .digitial_banner-wrap {
        display: flex;
        gap: 0 100px;
        margin-left: 20px;
        padding-bottom: 18px;
        border-bottom: 1px solid @border;
        .banner_list-item() {
        }
      }
      .link-all {
        color: @active;
        font-size: 14px;
        margin: 30px 20px 0;
        display: flex;
        align-items: center;
        gap: 0 10px;
      }
    }
  }

  .digitial-product {
    position: relative;
    &:hover {
      border: none;
      box-shadow: 0px 15px 25px rgb(94 109 0 / 20%);
      border-radius: 6px;
      z-index: 20;
      transition: linear 0.3s;
      .icon-links {
        visibility: visible !important;
        opacity: 1 !important;
      }
      .digitial-button {
        visibility: visible !important;
        opacity: 1 !important;
      }
    }

    .digitial_product-item {
      .product-item();
      padding-bottom: 8px;
      border-left: 1px solid @border;
      border-bottom: 1px solid @border;

      .digitial_product-img {
        .product-img();
        img {
          width: 100%;
        }
        .label() {
        }

        .icon-links() {
        }
      }

      .digitial_product-container {
        padding: 4px 0;
        .digitial_product-content {
          margin-bottom: 6px;
          a {
            color: @blue;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            &:hover {
              color: @active;
            }
          }
        }

        .digitial_product-evaluate {
          .product-evaluate();
          gap: 0 18px;
          margin-bottom: 20px;

          .digitial_icon-star {
            .icon-star();
          }
          p {
            font-size: 12px;
            color: @gray;
          }
        }

        .price() {
        }
        .digitial-button {
          .product-button();
        }
      }
    }
  }
  .digitial-product1 {
    grid-column: 3/4;
    grid-row: 1/2;
    .price {
      p {
        color: @black;
      }
    }
  }
  .digitial-product2 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .digitial-product3 {
    grid-column: 5/6;
    grid-row: 1/2;

    .price {
      p {
        color: @black;
      }
    }
  }
  .digitial-product4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .digitial-product5 {
    grid-column: 4/5;
    grid-row: 2/3;

    .price {
      p {
        color: @black;
      }
    }
  }
  .digitial-product6 {
    grid-column: 5/6;
    grid-row: 2/3;
  }

  .digitial-right {
    grid-column: 6/8;
    grid-row: 1/3;
    .product-item();
    padding-bottom: 8px;
    border-left: 1px solid @border;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    .digitial_right-img {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .digitial_right-wrap {
      padding-top: 8px;
      .digitial_right-content {
        margin-bottom: 8px;
        p {
          color: @blue;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }

      .digitial_right-evaluate {
        .product-evaluate();

        .digitial_icon-star {
          .icon-star();
        }
        p {
          font-size: 12px;
          color: @gray;
        }
      }

      .price {
        .price();
        padding-bottom: 20px;
        border-bottom: 1px solid @border;
        margin: 19px 0;
        p {
          color: @black;
        }
      }

      .digitial_right-list {
        ul {
          padding-left: 20px;
          li {
            margin-bottom: 14px;
            list-style-type: disc;
            color: #c2c8d7;
            a {
              font-size: 14px;
              font-weight: 400;
              color: #555555;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1599px) {
  .digitial .digitial-banner .digitial_banner-list .digitial_banner-wrap {
    gap: 0 50px;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container
    .digitial_product-evaluate {
    gap: 0 10px;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container {
    padding: 8px 0;
  }
}

@media (max-width: 1399px) {
  .digitial .digitial-banner .digitial_banner-content .digitial_banner-title p {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .digitial
    .digitial-banner
    .digitial_banner-content
    .digitial_banner-title
    span {
    font-size: 14px;
  }
  .digitial .digitial-banner .digitial_banner-list .digitial_banner-wrap {
    margin-left: 0;
  }
  .digitial .digitial-banner .digitial_banner-list .digitial_banner-wrap {
    gap: 0 30px;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container
    .digitial_product-evaluate
    .digitial_icon-star
    i {
    font-size: 12px;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container
    .digitial_product-evaluate
    p {
    font-size: 10px;
  }

  .digitial .digitial-right .digitial_right-wrap .price {
    margin: 15px 0;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container {
    padding: 13px 0;
  }
  .icon-links i {
    padding: 8px;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container
    .digitial-button
    button {
    font-size: 10px;
  }
}

@media (max-width: 1199px) {
  .digitial .digitial-product .digitial_product-item {
    padding: 15px;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container
    .digitial_product-evaluate {
    flex-wrap: wrap;
    gap: 6px 0;
  }
  .price p {
    font-size: 14px;
  }
  .price span {
    font-size: 12px;
  }
  .digitial .digitial-banner .digitial_banner-list .digitial_banner-wrap {
    padding-bottom: 4px;
  }
}

@media (max-width: 991px) {
  .digitial .digitial-list h5 {
    font-size: 18px;
  }
  .digitial .digitial-list ul li a {
    font-size: 12px;
  }
  .digitial .digitial-list ul li {
    padding-left: 0;
  }

  .digitial .digitial-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .digitial .digitial-right {
    display: none;
  }
  .digitial
    .digitial-product
    .digitial_product-item
    .digitial_product-container
    .digitial_product-evaluate {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .digitial .digitial-list {
    flex-wrap: wrap;
    gap: 10px 0;
  }
  .digitial .digitial-container {
    display: flex;
    flex-wrap: wrap;
  }
  .digitial .digitial-banner {
    margin-bottom: 20px;
    width: 100%;
  }
  .digitial .digitial-product {
    width: 33.333%;
  }
  .digitial .digitial-banner .digitial_banner-list .digitial_banner-wrap {
    justify-content: space-around;
    padding-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .digitial .digitial-list ul li a {
    font-size: 10px;
  }
  .digitial .digitial-product {
    width: 50%;
  }
}
