@import "./base.less";
@import "./_mixi.less";

.news {
  margin: 60px 0;
  .container {
    width: 100%;
    .news-wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0 20px;

      .news-item {
        .news_item-img {
          width: 100%;
          img {
            width: 100%;
          }
        }

        .news_item-text {
          padding: 25px;
          padding-top: 22px;
          background-color: @white;
          border-radius: 6px;
          border: 1px solid @border;
          h4 {
            font-size: 16px;
            font-weight: 500;
            color: @black;
            letter-spacing: -0.5px;
            margin-bottom: 8px;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: #555555;
            margin-bottom: 20px;
            letter-spacing: -0.5px;
          }
          .new-link {
            a {
              display: flex;
              align-items: center;
              gap: 0 6px;
              font-size: 14px;
              font-weight: 400;
              color: #3d3d3d;
              transition: linear 0.3s;
              &:hover {
                color: @active;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .news .container .news-wrap .news-item .news_item-text {
    padding: 20px;
  }
  .news .container .news-wrap .news-item .news_item-text h4 {
    font-size: 14px;
  }
  .news .container .news-wrap .news-item .news_item-text p {
    font-size: 12px;
  }
}

@media (max-width: 1199px) {
  .news .container .news-wrap {
    gap: 0 10px;
  }
  .news .container .news-wrap .news-item .news_item-img {
    background-color: #fff;
  }
  .news .container .news-wrap .news-item .news_item-text {
    border-radius: unset;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
  }
}
@media (max-width: 991px) {
  .news .container .news-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 479px) {
  .news .container .news-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
