@import "./base.less";
@import "./_mixi.less";

.recommended {
  .container {
    .recommended-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0 20px;

      .recommended-content {
        grid-column: 1/3;
        .recommended_content-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          p {
            color: @black;
            font-size: 24px;
            font-weight: 500;
          }
          p:last-child {
            display: flex;
            align-items: center;
            color: #555555;
            span {
              font-size: 14px;
              font-weight: 400;
              line-height: 3px;
            }
            i {
              font-size: 18px;
              line-height: 1;
            }
          }
        }

        .recommended_content-product {
          display: flex;
          flex-wrap: wrap;
          border-radius: 6px;
          overflow: hidden;
          .recommended_content-item {
            max-width: 50%;
            display: flex;
            padding: 20px;
            padding-bottom: 11px;
            background-color: @white;
            border-right: 1px solid @border;
            border-bottom: 1px solid @border;

            .recommended_item-content {
              padding: 10px 20px;
              padding-right: 0;
              padding-bottom: 0;
              .recommended_item-content-title {
                margin-bottom: 6px;
                a {
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: 500;
                  color: @blue;
                  transition: linear 0.3s;
                  &:hover {
                    color: @active;
                  }
                }
              }

              .recommended_item-evaluate {
                .product-evaluate();

                .recommended_icon-star {
                  .icon-star();
                }
                p {
                  font-size: 12px;
                  color: @gray;
                }
              }
              .price {
                .price();
                p {
                  color: @black;
                }
              }
            }
          }
        }
      }

      .recommended-banner {
        width: 100%;
        position: relative;
        .recommended-banner-img {
          width: 100%;
          img {
            width: 100%;
          }
        }

        .recommended-banner-content {
          text-align: right;
          position: absolute;
          bottom: 50px;
          right: 50px;

          .recommended-banner-title {
            margin-bottom: 25px;
            p {
              display: inline-block;
              font-size: 13px;
              font-weight: 500;
              text-transform: uppercase;
              padding: 6px 14px;
              background-color: #4c8bb7;
              border-radius: 3px;
            }
          }

          .recommended-banner-text {
            margin-bottom: 25px;
            h3 {
              font-size: 24px;
              font-weight: 400;
              color: #316f9e;
              text-transform: uppercase;
            }
            h3:last-child {
              font-weight: 500;
            }
          }

          span {
            font-size: 16px;
            font-weight: 400;
            color: #105a8e;
          }
        }
      }
    }
  }
}
