@import "./base.less";
@import "./_mixi.less";

.service {
  margin-bottom: 60px;
  .container {
    width: 100%;
    .service-wrap {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background-color: @white;
      border-radius: 6px;
      border: 1px solid @border;

      .service-item {
        padding: 45px 25px;
        padding-bottom: 38px;
        text-align: center;
        position: relative;

        &:not(:last-child)::after {
          content: "";
          width: 1px;
          height: 90px;
          background-color: @border;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        img {
          max-width: 52px;
          margin-bottom: 22px;
        }
        h4 {
          font-size: 12px;
          font-weight: 500;
          color: @black;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        p {
          color: #666666;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .service .container .service-wrap .service-item p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 991px) {
  .service .container .service-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .service .container .service-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .service .container .service-wrap .service-item {
    padding: 30px;
  }
}
@media (max-width: 479px) {
  .service .container .service-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .service .container .service-wrap .service-item {
    padding: 20px;
  }
}
