@import "./base.less";
@import "./_mixi.less";

.slider-banner {
  padding-top: 31px;
  .slider-banner-wrap {
    display: flex;
    gap: 0 20px;
  }

  .swiper {
    width: 72%;
    .swiper-wrapper {
      width: 100%;
      .swiper-slide {
        .slider-wrap1-img {
          position: relative;
        }
        .slider-content {
          position: absolute;
          top: 17%;
          left: 10%;

          .slider-title {
            margin-bottom: 50px;
            p {
              display: inline-block;
              text-transform: uppercase;
              font-weight: 500;
              color: @black;
              padding: 7px 15px;
              background-color: @yellow;
              border-radius: 3px;
            }
          }

          .slider-text {
            margin-bottom: 59px;
            h3 {
              font-size: 40px;
              font-weight: 400;
              letter-spacing: -2px;
              line-height: 46px;
              margin-bottom: 15px;
            }
            p {
              font-size: 18px;
              font-weight: 400;
              strong {
                font-weight: 500;
                color: #ffe400;
              }
            }
          }

          .slider-button {
            button {
              color: @black;
              padding: 20px 54px;
              font-size: 13px;
              font-weight: 600;
              background-color: @white;
              border-radius: 3px;
              text-transform: uppercase;
              border: none;
              letter-spacing: -1px;
              transition: linear 0.3s;
              &:hover {
                background-color: @active;
                color: @white;
              }
            }
          }
        }
      }

      .swiper-slide:nth-child(2) {
        .slider-title {
          p {
            background-color: #fff;
            color: @black;
          }
        }
      }

      .swiper-slide:last-child {
        .slider-content {
          .center-transform();
          text-align: center;

          .slider-text {
            span {
              color: @yellow;
            }
          }
        }
      }
    }
    .swiper-pagination {
      transition: linear 0.3s;
      .swiper-pagination-bullet {
        margin: 0 6px;
        background-color: rgba(rgb(216, 210, 210));
        opacity: 0.7;
      }
      .swiper-pagination-bullet-active {
        background-color: #fff;
        width: 30px;
        border-radius: 25%;
        opacity: 1;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    gap: 18px 0;
    .banner-item {
      position: relative;
      img {
        width: 100%;
      }
      .banner-item-content {
        position: absolute;
        top: 19%;
        left: 8%;
        h3 {
          display: inline-block;
          padding: 8px 15px;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          background-color: @white;
          color: #f0567a;
          margin-bottom: 40px;
          border-radius: 3px;
        }
        .banner2 {
          color: #955ee2;
        }
        p {
          font-size: 24px;
          line-height: 36px;
          font-weight: 400;
          text-transform: uppercase;
          span {
            font-size: 14px;
            text-transform: initial;
          }
        }
      }
    }
  }
}
